
@model IEnumerable<Kmo.Modules._710_BIL.InvoicePln.Models.vi_InvPln>

@{
    ViewBag.Title = "Invoice PLN";
    ViewBag.ModuleHeaderBig = "INV-PLN";
    ViewBag.ModuleHeaderSmall = "Invoice PLN";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    ViewBag.PageTitle = "Invoice PLN";
}



@section PageLevelStyles
{
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-layers font-blue-dark"></i>
                    <span class="caption-subject bold font-blue-dark">Manage INV-PLN</span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                </div>
            </div>

            <div class="portlet-body">
                <table class="dt-responsive" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a id="add" class="manage btn sbold blue-madison" onclick="setId('0');">
                                        <i class="fa fa-plus"></i> Add INV-PLN
                                    </a>
                                </div>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="table table-striped table-bordered table-hover dt-responsive" id="sample_2" hidden>
                    <thead>
                        <tr>
                            <th width="2%"></th>
                            <th class="all" width="6.5%"><i class="fa fa-gears"></i> Actions</th>
                            <th class="all" width="20%">Inv. PLN No</th>
                            <th class="all" width="12%">Tgl. Invoice</th>
                            <th class="all" width="12%">Jatuh Tempo</th>
                            <th class="all" width="12%">Period</th>
                            <th class="all" width="10%">Floor / Suite</th> 
                            <th class="all" width="20%">Tenant</th>                           
                            <th class="all" width="10%">Inv.PLN Kwh</th>   
                            <th class="none">Non-AC Last Stand Meter (kWh)</th>  
						    <th class="none">Non-AC Stand Meter (kWh)</th>                          
						    <th class="none">AC Last Stand Meter (kWh)</th> 
						    <th class="none">AC Stand Meter (kWh)</th>                            
                        </tr>
                    </thead>
                    <tbody id="listLoo">
                      
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th width="2%"></th>
                                <td width="6.5%">                                 
                                    <div class="btn-group pull-left">
                                        <button class="btn btn-xs btn-block green dropdown-toggle" data-toggle="dropdown">
                                          Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left">
										
                                                <li>
                                                    <a id="revise" class="manage" onclick="setId('@item.InvPlnRev@item.InvPlnId');" style="background-color:#F3F4F6;">
                                                        <i class="fa fa-edit"></i> Revise
                                                    </a>
                                                </li>
                                            <li>
                                                <a onclick="showINVPLN('@item.InvPlnRev@item.InvPlnId');" style="background-color:#F3F4F6;">
                                                    <i class="fa fa-print"></i> INV-PLN-710
                                                </a>
                                            </li>   
                                                                                                                           
                                        </ul>
                                    </div>
                                </td>
                                <td width="20%">INV-PLN-710-@item.InvPlnRev-@item.InvPlnId.ToString().Insert(4, "-")</td>
                                <td width="12%">
                                   @if (@item.InvPlnDate.HasValue)
                                   { 
                                       @item.InvPlnDate.Value.ToString("dd-MMM-yyyy")
                                   }
                                </td>
                                <td width="12%">
                                    @if (@item.InvPlnDueDate.HasValue)
                                    {
                                        @item.InvPlnDueDate.Value.ToString("dd-MMM-yyyy")
                                    }   
                                </td>
                                <td width="12%">                                   
                                        @item.Month.ToString().PadLeft(2,'0')-@item.Year.ToString()                                 
                                </td>
                                <td width="10%">@item.FloorId / @item.InvPlnSuiteName</td>
                                <td width="20%">@item.CompanyName</td>                                
                                <td width="10%">@item.InvPlnKwh</td>
                                <td>@item.InvPlnNonAcCurrentStandMeter</td> 
                                <td>@item.InvPlnNonAcLastStandMeter</td>                               
                                <td>@item.InvPlnAcCurrentStandMeter</td> 
                                <td>@item.InvPlnAcLastStandMeter</td>  
                        </tr>
                        }

                    </tbody>
                </table>
              
                <label hidden id="tempId"></label>
                <label hidden id="title"></label>
                <input hidden readonly id="holdingCompanyId" type="text" name="HoldingCompanyId" value="@Kmo.Application.DefaultWebHoldingCompanyId" />

            </div>

        </div>
    </div>
</div>



@section ModalDefinition
{

    <div class="modal fade display-hide" id="full" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content" id="fullctx">

            </div>
        </div>
    </div>
       
}



@section PageLevelPlugins
{
    <script type="text/javascript">

        var TableDatatablesResponsive = function () {
            var e = function () {
                var e = $("#sample_1"); e.dataTable({
                    language: { aria: { sortAscending: ": activate to sort column ascending", sortDescending: ": activate to sort column descending" }, emptyTable: "No data available in table", info: "Showing _START_ to _END_ of _TOTAL_ entries", infoEmpty: "No entries found", infoFiltered: "(filtered1 from _MAX_ total entries)", lengthMenu: "_MENU_ entries", search: "Search:", zeroRecords: "No matching records found" },
                    buttons: [{ extend: "print", className: "btn dark btn-outline hidden" }, { extend: "pdf", className: "btn green btn-outline hidden" }, { extend: "csv", className: "btn purple btn-outline  hidden" }],
                    responsive: { details: {} }, order: [[0, "asc"]], lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]], pageLength: 10, dom: "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>"
                })
            },
            t = function () {
                var e = $("#sample_2"); e.dataTable({
                    language: { aria: { sortAscending: ": activate to sort column ascending", sortDescending: ": activate to sort column descending" }, emptyTable: "No data available in table", info: "Showing _START_ to _END_ of _TOTAL_ entries", infoEmpty: "No entries found", infoFiltered: "(filtered1 from _MAX_ total entries)", lengthMenu: "_MENU_ entries", search: "Search:", zeroRecords: "No matching records found" },
                    buttons: [{ extend: "print", className: "btn dark btn-outline hidden" }, { extend: "pdf", className: "btn green btn-outline hidden" }, { extend: "csv", className: "btn purple btn-outline hidden" }],
                    responsive: { details: {} }, columnDefs: [{ className: "control", orderable: !1, targets: 0 }], order: [1, "asc"], lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]], pageLength: 10, pagingType: "bootstrap_extended", dom: "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>"
                }) //details: { type: "column", target: "tr" } 
            }; return { init: function () { jQuery().dataTable && (e(), t()) } }
        }();


        jQuery(document).ready(function () {
            TableDatatablesResponsive.init()
            App.startPageLoading({ animate: true });
            $('#sample_2').show();
            $("input.datepicker, input.date-picker").datepicker({
                dateFormat: 'dd-M-yyyy',
                orientation: 'left',
                todayHighlight: true,
                autoClose: true
            });
            App.stopPageLoading();
        });

        function formatInv(value) {
            if (value !== '') {
                return value .substr(0, 2) + '-' + value.substr(2, 4) + '-' + value.substr(6, 4);
            }
        }

        function setId(value) {           
                $('#tempId').text(value); 
        }

        $('.manage').click(function () {
            id = $(this).attr('id');
            if (id == 'add')
                $('#title').text('Add INV-PLN');
            else
                $('#title').text('Revise INV-PLN');
                       
            App.startPageLoading({ animate: true });
            $.ajax({
                url: "/InvoicePln/ManageInvPlnPartialView",
                type: 'Get',
                success: function (msg) {
                    $("#fullctx").empty().append(msg);
                    $("#full").modal('toggle');
                },
                complete: function () {
                    App.stopPageLoading();
                    $('#titleModal').text($('#title').text());
                },
                error: function () {
                    alert("something on INV PLN seems wrong");
                }
            });
        });     
             
        function showINVPLN(InvNo) {
		var invRev = InvNo.substr(0,2);
		var invId = InvNo.substr(2,8);
            var holdingCompanyId = $('#holdingCompanyId').val();
            var pars = [
                { 'AssemblyQualifiedValueTypeString': 'System.String', 'ParameterName': '@@InvPlnRev', 'UseIndex': false, 'ParameterValue': invRev },
                { 'AssemblyQualifiedValueTypeString': 'System.String', 'ParameterName': '@@InvPlnId', 'UseIndex': false, 'ParameterValue': invId },
                { 'AssemblyQualifiedValueTypeString': 'System.String', 'ParameterName': '@@HoldingCompanyId', 'UseIndex': false, 'ParameterValue': holdingCompanyId }
            ];
            var title = 'INV-PLN-710-' + formatInv(InvNo);
            ShowReportWindow('INVPLN', pars, title, '');
        }
        
    </script>


}
