@model IEnumerable<Kmo.Modules._300_PMM.UtlEcd.Models.ta_UTLECD>

@{
    ViewBag.Title = "Utility : Electricity Consumption Distribution";
    ViewBag.ModuleHeaderBig = "UTL:ECD";
    ViewBag.ModuleHeaderSmall = "Utility : Electricity Consumption Distribution";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    ViewBag.PageTitle = "Utility : Electricity Consumption Distribution";
}

@section PageLevelStyles
{   
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">

            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-layers font-blue-dark"></i>
                    <span class="caption-subject font-blue-dark">
                        <b>
                            Manage UTL:ECD
                            &nbsp;&nbsp;
                        </b>
                       
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                </div>
            </div>

            <div class="portlet-body">
                <table class="dt-responsive" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <div class="btn-group">
                                    <a href="/UtlEcd/IndexUtlEcd" id="utlEcd" class="btn sbold blue-madison">
                                        <i class="fa fa-plus"></i> Manage UTL:ECD
                                    </a>
                                 
                                </div>
                            </td>    
                                                
                        </tr>
                    </tbody>
                </table>
                <br>
            
                <table class="table table-striped table-bordered table-hover hidden-print dt-responsive" width="100%" id="EcdTbl" hidden>
                    <thead>
                        <tr>
                            <th width="2%"></th>
                            <th class="all" width="6.5%"><i class="fa fa-gears"></i> Actions</th>
                            <th class="all" width="5%">Period</th>
                            <th class="all" width="10%">Date</th>
                            <th class="all">Tenant Tariff (Rp/kWh)</th>
                            <th class="all">PLN's Total Bill (Rp)</th>
                            <th class="all" width="7%">Usage All Floor (kWh)</th>
                            <th class="all" width="7%">Usage All Suite (kWh)</th>
                            <th class="all" width="7%">Usage Total (kWh)</th>
                            <th class="none">Submit By</th>
                            <th class="all" width="5%">Status</th>
                            <th class="none">Invoice Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th width="2%"></th>  
                                <td width="6.5%">
                                    <div class="btn-group pull-left">
                                        <button class="btn btn-xs btn-block green dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-left">
                                            @if (!@item.PostInvoice)
                                            {
                                                <li>
                                                    <a id="calculate" class="calculate" onclick="calculate('@item.Date');" style="background-color:#F3F4F6;">
                                                        <i class="fa fa-calculator"></i> Submit ECD Usages (Summary)
                                                    </a>
                                                </li>
                                                <li class="divider"> </li>
                                            }
                                            <li>
                                                <a onclick="showUtlEcdMrd('@item.Date');" style="background-color:#F3F4F6;">
                                                    <i class="fa fa-print"></i> UTL:ECD:MRD
                                                </a>
                                            </li>
                                            <li>
                                                <a onclick="showUtlEcd('@item.Date');" style="background-color:#F3F4F6;">
                                                    <i class="fa fa-print"></i> UTL:ECD
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </td>
                                <td width="5%"><b>@item.Date.Month.ToString().PadLeft(2, '0') - @item.Date.Year.ToString()</b></td>
                                <td width="10%"><b>@item.Date.ToString("dd-MMM-yyyy")</b></td>
                                <td><b>@item.TenantsTariffPerKWH.ToString("N0")</b></td>
                                <td><b>@item.TotalAmountEcd.ToString("N0")</b></td>
                                <td width="7%"><b>@item.UsagesFloor.ToString("N0")</b></td>
                                <td width="7%"><b>@item.UsagesSuite.ToString("N0")</b></td>
                                <td width="7%"><b>@item.UsagesTotal.ToString("N0")</b></td>
                                <td>@item.UserId</td>
                                <td width="5%">
                                    @if (@item.PostInvoice.ToString() == "True")
                                    {
                                        <span class="label label-sm label-success"> Invoiced </span>
                                    }
                                    else
                                    {
                                        <span class="label label-sm label-info"> WIP </span>
                                    }
                                </td>
                                <td>
                                    @if (@item.PostInvoiceDate.HasValue)
                                    {
                                        @item.PostInvoiceDate.Value.ToString("dd-MMM-yyyy");
                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <label><b>Note : </b>Tenant Tariff (Rp/kWh) & ECD Usages (kWh) will be generated automatically when Submit ECD Usages (Summary) </label>

                    <label hidden id="tempId"></label>
                    <input hidden readonly id="holdingCompanyId" type="text" name="HoldingCompanyId" value="@Kmo.Application.DefaultWebHoldingCompanyId" />

</div>

        </div>
    </div>
</div>


@section ModalDefinition
{

<div class="modal fade display-hide" id="full" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content" id="fullctx">

        </div>
    </div>
</div>

}

@section PageLevelPlugins
{          

    <script type="text/javascript">
              

        //var TableDatatablesManaged = function () {
        //    var
        //        p = function () {
        //            var e = $("#EcdTbl"); e.dataTable({
        //              language: { aria: { sortAscending: ": activate to sort column ascending", sortDescending: ": activate to sort column descending" }, emptyTable: "No data available in table", info: "Showing _START_ to _END_ of _TOTAL_ records", infoEmpty: "No records found", infoFiltered: "(filtered1 from _MAX_ total records)", lengthMenu: "Show _MENU_", search: "Search:", zeroRecords: "No matching records found", paginate: { previous: "Prev", next: "Next", last: "Last", first: "First" } }, footerCallback: function (e, t, a, r, o) {
        //                  var n = this.api(), s = function (e) { return "string" == typeof e ? 1 * e.replace(/[\$,]/g, "") : "number" == typeof e ? e : 0 }; total = n.column(3).data().reduce(function (e, t) { return s(e) + s(t) }, 0), pageTotal = n.column(3, { page: "current" }).data().reduce(function (e, t) { return s(e) + s(t) }, 0), //$(n.column(3).footer()).html(pageTotal + " &nbsp;<b>(" + total + " Total M<sup>2</sup>)</b>"),
        //                total = n.column(4).data().reduce(function (e, t) { return s(e) + s(t) }, 0), pageTotal = n.column(4, { page: "current" }).data().reduce(function (e, t) { return s(e) + s(t) }, 0) //, $(n.column(4).footer()).html(pageTotal + " &nbsp;<b>(" + total + " Total kVA)</b>")
        //              }, bStateSave: !0, lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]], pageLength: 10, columnDefs: [{ }, { }], order: [[1, "asc"]]
        //          }); jQuery("#suiteTbl_wrapper"); e.find(".group-checkable").change(function () { var e = jQuery(this).attr("data-set"), t = jQuery(this).is(":checked"); jQuery(e).each(function () { t ? $(this).prop("checked", !0) : $(this).prop("checked", !1) }) })
        //        }; return {
        //            init: function () {
        //                jQuery().dataTable && ( p())
        //            }
        //        }
        //}();

        var TableDatatablesManaged = function () {
            var
                p = function () {
                    var e = $("#EcdTbl"); e.dataTable({
                        language: { aria: { sortAscending: ": activate to sort column ascending", sortDescending: ": activate to sort column descending" }, emptyTable: "No data available in table", info: "Showing _START_ to _END_ of _TOTAL_ entries", infoEmpty: "No entries found", infoFiltered: "(filtered1 from _MAX_ total entries)", lengthMenu: "_MENU_ entries", search: "Search:", zeroRecords: "No matching records found" },
                        buttons: [{ extend: "print", className: "btn dark btn-outline hidden" }, { extend: "pdf", className: "btn green btn-outline hidden" }, { extend: "csv", className: "btn purple btn-outline hidden" }],
                        responsive: { details: {} }, columnDefs: [{ className: "control", orderable: !1, targets: 0 }], order: [1, "asc"], lengthMenu: [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]], pageLength: 10, pagingType: "bootstrap_extended", dom: "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>"
                    })
                }; return {
                    init: function () {
                        jQuery().dataTable && (p())
                    }
                }
        }();



        jQuery(document).ready(function ()
        {
            TableDatatablesManaged.init()
            App.startPageLoading({ animate: true });
            $('#EcdTbl').show();
            App.stopPageLoading();
        });   
             
                          
      
        function pad(str, max) {
            str = str.toString();
            return str.length < max ? pad("0" + str, max) : str;
        }

        function calculate(value) {
            if (value !== '') {
                $('#tempId').text(value);
            }
        }


        $('.calculate').click(function () {
            var selectedId = $('#tempId').text();
            bootbox.confirm({
                message: "Do you want to continue Calculte ECD Usages (kWh) ?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                    },
                    cancel: {
                        label: 'No'
                    }
                },
                callback: function (e) {
                    if (e) {
                        //alert('Yes!');
                        App.startPageLoading({ animate: true });
                        $.ajax({
                            url: "/UtlEcd/CalculateEcd",
                            type: 'Post',
                            data: { date: $('#tempId').text() },
                            cache: false,
                            success: function (msg) { },
                            complete: function () {
                                App.stopPageLoading();
                                window.location.reload(true);
                            },
                            error: function () {
                                alert("something on calculate ECD seems wrong");
                            }
                        });
                    }
                    else {
                        return;
                    }
                }
            });
           
        });


        function showUtlEcdMrd(Date) {
            var arr = Date.split('/');
            var holdingCompanyId = $('#holdingCompanyId').val();
            var pars = [
                { 'AssemblyQualifiedValueTypeString': 'System.Int64', 'ParameterName': '@@Month', 'UseIndex': false, 'ParameterValue': parseInt(arr[0]) },
                { 'AssemblyQualifiedValueTypeString': 'System.Int64', 'ParameterName': '@@Year', 'UseIndex': false, 'ParameterValue': parseInt(arr[2].substr(0, 4)) },
                { 'AssemblyQualifiedValueTypeString': 'System.String', 'ParameterName': '@@HoldingCompanyId', 'UseIndex': false, 'ParameterValue': holdingCompanyId }
            ];
            var title = 'UTL:ECD:MRD Period ' + pad(arr[0], 2) + '-' + arr[2].substr(0, 4);
            ShowReportWindow('UTLECDMRD', pars, title, '');
        }

        function showUtlEcd(Date) {
            var arr = Date.split('/');
            var holdingCompanyId = $('#holdingCompanyId').val();
            var pars = [
                { 'AssemblyQualifiedValueTypeString': 'System.Int64', 'ParameterName': '@@Month', 'UseIndex': false, 'ParameterValue': parseInt(arr[0]) },
                { 'AssemblyQualifiedValueTypeString': 'System.Int64', 'ParameterName': '@@Year', 'UseIndex': false, 'ParameterValue': parseInt(arr[2].substr(0, 4)) },
                { 'AssemblyQualifiedValueTypeString': 'System.String', 'ParameterName': '@@HoldingCompanyId', 'UseIndex': false, 'ParameterValue': holdingCompanyId }
            ];            
            var title = 'UTL:ECD Period ' + pad(arr[0], 2) + '-' + arr[2].substr(0, 4);
            ShowReportWindow('UTLECD', pars, title, '');
        }
     

    </script>


}
