@using Kmo.Web.Models
@model ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    ViewBag.ModuleHeaderBig = "Account";
    ViewBag.ModuleHeaderSmall = "Change Password";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    ViewBag.PageTitle = "Change Password";
}

@section PageLevelStyles
{
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-sm">
                    <i class="icon-pencil font-dark"></i> Change Password
                </div>
                <div class="actions">

                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>

                </div>
            </div>
            <div class="portlet-body">

                <table id="user">

                    <tr>
                        <td>

                            <div class="m-grid m-grid-responsive-xs m-grid-demo">
                                <div class="m-grid-row">

                                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary("", new { @class = "text-danger" })


                                        <div class="form-group form-md-line-input">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                            </div>
                                       
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                            </div>
                                          
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                       

                                        </div>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <button type="submit" value="Save" class="btn blue">
                                                        <i class="fa fa-check"></i> Change password
                                                    </button>

                                                </div>
                                            </div>
                                        </div>

                                    }
                                   <p>&nbsp;</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>   

</div>
        </div>
    </div>
</div>